<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">

  <welcome-file-list>
    <welcome-file>/WEB-INF/PAG/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>


  <!-- Optional Taglib (JSP custom tags)================================
	   NB: vanno richiamati nelle JSP che ne fanno uso con la direttiva:
	       <%@ taglib uri="urihtml" prefix="html" %>
	   e utilizzati con:
	       <html:xxxxxx .... >
  -->
  <jsp-config>
    <!-- JSTL Custom-Tag -->
  	<taglib>
      <taglib-uri>uric</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
  	<taglib>
      <taglib-uri>urifmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
    
    <!-- STRUTS Custom-Tag -->
  	<taglib>
      <taglib-uri>uribean</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>urihtml</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>urilogic</taglib-uri>
      <taglib-location>/WEB-INF/tld/struts-logic.tld</taglib-location>
    </taglib>
  </jsp-config>

  <!-- Optional Session Timeout (DEFAULT: 30min) =====================-->
  <session-config>
    <session-timeout>30</session-timeout> 
  </session-config>
  
  <!-- Optional Server Errors conditions =============================
  <error-page>
	<error-code>404</error-code>
	<location>/PAGES/jsp/index.jsp?feedbackHome=error404</location>
  </error-page>

  <error-page>
	<error-code>500</error-code>
	<location>/PAGES/jsp/index.jsp?feedbackHome=error500</location>
  </error-page>
  -->
  
</web-app>